<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
  <h1>Main page.</h1>

<p>
Things to do:<br/>
- There should be three modes:
<ul>
 <li>automatic mode</li>
 <li>manual</li>
 <li>off</li>
</ul>
</p>

<a th:href="@{/addzonetimerentry}">addZoneSettings</a>


<h3>automatic mode</h3>

<p>
</p>

<h3>manual</h3>
<p>
accordingly to the request
<pre>

mode = manual, automatic, off

manual = [
  zones = [true, false]
] 
  
----: ()Stuff)

Heating Settings:
<span th:text="${heatingSettings}"></span>

<div th:text="${heatingSettings.zones.size()}"></div>

<div th:text="#{numbers.sequence(0, 3, 1)}"></div>

<table border="1">
  <tr>
    <td>Zone Id</td>
    <td>Mode</td>
    <td>Zone</td>
    <td>Iterstat</td>
  </tr>
  <tr th:each="zone,iterstat : ${heatingSettings.zones}">
    <td th:text="${iterstat.index}"></td>
    <td th:text="${zone.mode}"></td>
    <td th:text="${zone}" ></td>
    <td th:text="${iterstat}" ></td>
  </tr>
</table>


<br/>Sequences:



<a th:href="@{/setmanual/0/0/0}"> Zone 0 = off</a><br />
<a th:href="@{/setmanual/0/0/1}"> Zone 0 = on</a><br />
<a th:href="@{/setmanual/0/1/0}"> Zone 1 = off</a><br />
<a th:href="@{/setmanual/0/1/1}"> Zone 1 = on</a><br />
<a th:href="@{/setmanual/0/2/0}"> Zone 2 = off</a><br />
<a th:href="@{/setmanual/0/2/1}"> Zone 2 = on</a><br />



</pre>
  
</p>


</body>
</html>