<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
  <h1>Main</h1>

<p>List of all devices:</p>

<h3>Devices:</h3>
<ul th:each="hs : ${heatingSettingsList}">
  <li th:inline="text"><a th:href="@{/devices/{dev}(dev=${hs.deviceId})}">Device: [[${hs.deviceId}]], zones: [[${hs.zones == null? 0 : hs.zones.size()}]]</a></li>
  <!--  <li th:text="${hs}"> -->
</ul>

<h3>Nodes:</h3>
<ul>
  <li>TODO: Add nodes with their statuses. (ie. all Raspeberry PIs)</li>
</ul>


<!--  <table border="1">
  <tr>
    <td>Zone Id</td>
    <td>Mode</td>
    <td>Zone</td>
    <td>Iterstat</td>
  </tr>
  <tr th:each="zone,iterstat : ${heatingSettings.zones}">
    <td th:text="${iterstat.index}"></td>
    <td th:text="${zone.mode}"></td>
    <td th:text="${zone}" ></td>
    <td th:text="${iterstat}" ></td>
  </tr>
</table> -->

<!--  <ul th:each="zone,zoneiter : ${heatingSettings.zones}">
   <li th:inline="text">Zone [[${zoneiter.index}]]</li>
   <ul>
	   <li th:inline="text"><a href="switchManual/Automatic">[[${zone.mode}]]</a></li> !! TODO 
-->

	   <!-- display only if {zone.mode==MANUAL} -->
<!--    <li th:inline="text">Manual on?: [[${zone.manualModeSetting}]];</li>
	   <li>Automatic settings:
		   <ul th:each="autoSetting, iterstat2 :${zone.automaticModeSettings}">
		     <li th:inline="text">Automatic settings [[${iterstat2.index}]]: [[${autoSetting.startingTime}]]-[[${autoSetting.endTime}]] on: [[${autoSetting.days}]] months: [[${autoSetting.months}]] 
		     	<a href="">CHANGE LINK</a> | 
		     	<a href="">DELETE</a></li>
		   </ul>
		   <ul>
		   		<li><a th:href="@{/addzonetimerentry/{device}/{z}(device=${device},z=${zoneiter.index})}" th:inline="text">Add automatic setting</a></li>
		   </ul>
	   </li>
   </ul>
   
</ul>



<pre>
mode = manual, automatic, off
manual = [
  zones = [true, false]
] 
<a th:href="@{/setmanual/0/0/0}"> Zone 0 = off</a><br />
<a th:href="@{/setmanual/0/0/1}"> Zone 0 = on</a><br />
<a th:href="@{/setmanual/0/1/0}"> Zone 1 = off</a><br />
<a th:href="@{/setmanual/0/1/1}"> Zone 1 = on</a><br />
<a th:href="@{/setmanual/0/2/0}"> Zone 2 = off</a><br />
<a th:href="@{/setmanual/0/2/1}"> Zone 2 = on</a><br />
</pre>
  
</p>
 -->

</body>
</html>